.selector-container{
    height: auto;
}


.selector-content-container{
    justify-content: space-around;
    align-items: stretch;
    min-height: 150px;
}

.selector-content-container> button{
    padding: 0;
    background-color: var(--color-main-dark);
    border: none;

    flex-grow: 0;
    flex-basis: 70px;
    flex-shrink: 0;
}

.selector-content-container > button:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.selector-content-container >button:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.selector-content{
    /*border-top: var(--border-width) solid var(--color-main-dark);*/
    /*border-bottom: var(--border-width) solid var(--color-main-dark);*/
    justify-content: center;
    align-items: center;
    align-self: center;
    flex: 1;
    white-space: normal;
    text-wrap: normal;
}
