.book-overview-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.book-overview-container > div{
    background-color: var(--color-gen-medium);
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 450px;
}

.book-overview-container > div > img{
    width: 100%;
    height: auto;
}